extends layout.pug

block content 
    .pagecontent 
        h1.cw11655 This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
        a.btnCreate(href="/add") Add Medicine