doctype html
html(lang="en")
    head
        title Medicine registry
    body
        header.navbar 
            h1 
                a(href="/") Medicine registry
            nav.nav
                a(href="/medicine") All Medicine 
                a(href="/archieve") Archived 
            
        block content 