extends layout.pug

block content 
    .pagecontent 
        h1.medPage All Medicine 

        each medicine in medicines
            .medicine-show
                a.med(href=`/medicine/${medicine.name}`) #{medicine.name} 
                a.delete(href="#") delete