extends layout.pug

block content 
    .pagecontent 
        h1.medPage All Medicine 

        each medicine in medicines 
            .medicine-show
                a.med(href="/medicine/detail")= medicine 
                a.delete(href="#") delete