
:root{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}

/*Header*/
.navbar{
    max-width: 1000px;
    margin: 20px auto;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom:1px solid #c99200 ;
}

.navbar a:hover{
    color: 	#c99200;
}

.nav{
    display: inline-block;
    font-size: 1.2rem;
    padding: 20px 15px;
}
.nav a{
    margin-left: 15px;
}

/*This will be line under my navigation menu and I am using webkit so, 
there won't be any issues with tranformation in different brousers*/
.nav .hoverline {
    width: 30px;
    height: 2px;
    border-radius: 20%;
    background-color: 	#c99200;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
}
.nav a:hover{
    color: 	#c99200;
}
.nav a:nth-child(1):hover ~ .hoverline {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 1;
}
/*for each a in menu I am assigning hoverline and cordinating where it will stay*/
.nav a:nth-child(2):hover ~ .hoverline {
    -webkit-transform: translateX(155px);
    transform: translateX(155px);
    opacity: 1;
}

.pagecontent{
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
/*page content will be used by other pages as well*/

/*Home Page*/
.cw11655{
    padding: 50px 0;
    max-width: 60%;
    font-size: 2rem;
}

.btnCreate{
    display: inline-block;
    padding: 10px 25px;
    background-color: #c99200;
    border-radius: 25px;
    margin: 30px auto;
    font-family: inherit;
}

.btnCreate:hover{
    background-color: rgb(51, 41, 12);
    color: white;
}

/*Add page*/

.addpage{
    margin: 20px 0;
}


.form{
    max-width: 60%;
}

.input{
    width: 800px;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid #c99200;
    margin: 10px auto;
}

button{
    display: inline-block;
    padding: 10px 25px;
    background-color: #c99200;
    border-radius: 25px;
    margin: 30px auto;
    font-family: inherit;
    border: none;
}


button:hover{
    background-color: rgb(51, 41, 12);
    color: white;
}